* {
    margin:0;
    padding:0;
}

.nav {
    height: 75px;
    padding:25px;
    display:flex;
    justify-content:space-between;
    background-color: grey;
    align-items:center;
}

.nav-links{
    height: 100px;
    color:white;
    display:flex;
    align-items: center;
    gap:9px;
    text-decoration: none;
    list-style-type: none;
}

.nav-title{
    display: inline-block;
    color:white;
}

a {
    /* background-color: grey; */
    color:white;
    text-decoration: none;
}

.btn {
    padding:5px;
    box-shadow: 3px 3px black;
}